.carouselContainer {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

body {
    background: radial-gradient(circle, #f3e7fe 10%, #d0eaff 20%, #FFFAFA70%);
    font-family: 'Hammersmith One', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.parentContainer {
    text-align: center;
    margin: 20px;
}

.title {
    color: #7d5f4c;
    padding: 20px;
    border: 2px solid #e0c8a7;
    border-radius: 15px;
    font-size: 2em;
    margin: 20px auto;
    width: 80%;
}

.weatherInfo {
    border: 2px solid #e0c8a7;
    border-radius: 15px;
    padding: 15px;
    color: #7d5f4c;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0;
    margin: 20px auto;
    width: 80%;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.productos {
    display: flex;
    flex: 1;
    transition: transform 0.5s ease;
}

.mousturizerImage, .mousturizerInfo {
    flex: 1;
    border: 2px solid #e0c8a7;
    border-radius: 15px;
    padding: 15px;
    margin: 0 5px;
}

.mousturizerImage img {
    width: 100%;
    border-radius: 10px;
}

button.prev, button.next {
    border: none;
    color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}


